@font-face {
    font-family: 'Poppins';
    src: url("./assets/fonts/Poppins/Poppins-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: 'Poppins';
    src: url("./assets/fonts/Poppins/Poppins-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: 'Poppins';
    src: url("./assets/fonts/Poppins/Poppins-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: 'Playfair_Display';
    src: url("./assets/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf");
}

$purple: #676CDB;
$grey: #C4C4C4;
$bg: #222A36;
$bg-light: rgba(34, 42, 54, 0.95);
$white: #ffffff;
$black: #000000;

$page-padding: 0px 70px;

$width-max: 1440px;


@mixin poppins ($weight, $size, $lheight) {
    font-family: 'Poppins';
    font-weight: $weight;
    font-size: $size;
    line-height: $lheight;
}
@mixin playfair ($weight, $size, $lheight) {
    font-family: 'Playfair_Display';
    font-weight: $weight;
    font-size: $size;
    line-height: $lheight;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    color: $white;
}
.container {
  margin: 0px auto;
}

.header__container {
    height: 5vh;
}
.nav__list {
    display: flex;
    justify-content: center;
    gap: 45px;
    list-style: none;
    .nav__item {
        text-decoration: none;  
        z-index: 1;
         .nav__item-link {
             color: white;
             text-decoration: none;
             transition: 0.3s;
             &:hover {
                text-decoration: underline;
             }
        }
    }
}
.section {
    padding: $page-padding;
    background-color: $bg-light;
    &:nth-child(even){
        background-color: $bg;
    }
}
.about {
    max-width: $width-max;
    margin: 0 auto;
    height: 80vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -5vh;
}
.about__column {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.about__title {
    @include playfair(700, 90px ,98px);
}
.about__text {
    @include poppins(400, 20px ,36px);
    color: rgba(255, 255, 255, 0.50);
    span {
        color: rgba(255, 255, 255, 1);
    }  
}
.button {
    width: 203px;
    height: 64px;
    @include poppins(400, 20px, 24px,);
    color: $white;
    background-color: $purple;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    & a {
        text-decoration: none;
        color: white;
    }
    &:hover {
        background-color: $grey;
    }
}
.about__photo {
    width: 720px;
    height: 80vh;
    background-image: url(./assets/img/img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
}

.skills {
    height: 20vh;
    display: flex;
    align-items: center;
    background-color: $black;
}
.skills__content {
    width: 100%;
}
.skills__list {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
.skills__item {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    filter:  invert(52%) sepia(10%) saturate(8%) hue-rotate(353deg) brightness(94%) contrast(88%);
    cursor: pointer;
    transition: 0.3s;
    &:hover {
        filter:  none;
    }  
}
.skills__item_html {
    background-image: url(./assets/svg/skills/html.svg);
}
.skills__item_css {
    background-image: url(./assets/svg/skills/css.svg);
}
.skills__item_saas {
    background-image: url(./assets/svg/skills/sass.svg);
}
.skills__item_js {
    background-image: url(./assets/svg/skills/js.svg);
}

.section-title {
    @include poppins(700, 40px, 72px)
}
.education {
    max-width: $width-max;
    height: 60vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
}
.education__text-about {
    width: 20%;
}
.education__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.education-block {
    width: 300px;
    height: 310px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: $purple;
    color: $white; 
    cursor: pointer;
    transition: 0.3s;
    }
.education-block__container {
    display: flex;
    justify-content: center;
    .education-block__icon {
        width: 40px;
        height: 40px;
        fill: $white;
    }
}
.education-block__title {   
    width: 100%;  
    @include poppins(700, 30px, 36px);
    display: flex;
    justify-content: center;
    padding: 20px 0px;
} 
.education-block__text {
    @include poppins(400, 20px, 24px);
    color: rgba(255, 255, 255, 0.70);
}
.education-block__text-list {
    list-style: none;
}
.education-block__text-item {
        padding-left: 30px;
        background-image: url(./assets/svg/education/сheck.svg);
        background-repeat: no-repeat;
        background-size: 10%;
}

.projects {
    max-width: $width-max;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    margin: 0 auto;

}
.projects-item__slide:nth-child(even) {
    .projects-item__img {
        order: 1;
    }
    .projects-item__title {
        align-items: flex-end;
    }
}
.projects-item {
    display: flex;
    flex-direction: column;
    gap: 100px;

    .projects-item__slide {
        display: flex;
        justify-content: space-around;

        .projects-item__img {
            filter:  contrast(0.85) opacity(0.7);
            cursor: pointer;
            transition: 0.3s;
            &:hover {
                filter: none;
            }
        }
        .projects-item__content {
            width: 500px;
            display: flex;
            flex-direction: column;
            gap: 50px;
          

            .projects-item__title {
                @include poppins (400, 40px , 64px);
            }
            .projects-item__link {
                @include poppins(400, 20px , 36px);
                color: $purple;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}
.code {
    width: $width-max;
    margin: 0 auto;
}
summary {
    display: flex;
    align-self: center;
    list-style: none;
    cursor: pointer;
    transition: 0.5s;
    &::after {  
        display: inline-block;
        background-image: url("./assets/svg/code/arrow.svg");
        background-repeat: no-repeat;
        background-size: contain;
        width: 25px;
        height: 25px;  
        content: "";
        transform: translate(26px, 26px);
        filter: brightness(0%) invert(100%);
        cursor: pointer;
        transition: 0.5s;
    }
    &:hover {
        color: $purple;  
    } 
    &:hover:after {
        filter: none;
    }
}

.contacts {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $black;
}
.contacts__title {
    @include poppins(700, 100px, 150px)
}
.contacts__list {
    display: flex;
    gap: 50px;
    list-style: none;
}
.contacts__link {
    width: 45px;
    height: 45px; 
    text-decoration: none;
    background-repeat: no-repeat;
    background-size: contain;
    filter: brightness(0%) invert(100%);
    cursor: pointer;
    transition: 0.3s;
    background-image: url(./assets/svg/contact/discord.svg);
    &:hover {
        filter: none;;
    }
} 
.contacts__link_email {
    background-image: url(./assets/svg/contact/mail.svg);
}
.contacts__link_telegram {
    background-image: url(./assets/svg/contact/telegram.svg);
}
.contacts__link_github {
    background-image: url(./assets/svg/contact/github.svg);
}
.footer {
    background-color: $black;
}
.footer__container {
    max-width: $width-max;
    display: flex;
    justify-content: space-between;
}
.footer__copyright {
    display: flex;
    align-items: baseline;
    gap: 10px;
    @include poppins(700, 20px, 36px);
    color: rgba(255, 255, 255, 0.50);
    & a {
        font-weight: 500;
        color: $white;
        text-decoration: none;
        &:hover {
            color: $purple;
        }
    }
}
.footer__rss {
    width: 100px;
    height: 100px;
    background-image: url(./assets/svg/footer/rss.svg);
    background-repeat: no-repeat;
    background-size: contain;
    filter: brightness(0%) invert(100%);
    cursor: pointer;
    transition: 0.3s;
    &:hover{
        filter: none;
    }
}

