@charset "UTF-8";
@font-face {
  font-family: 'Poppins';
  src: url("./assets/fonts/Poppins/Poppins-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: url("./assets/fonts/Poppins/Poppins-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: 'Poppins';
  src: url("./assets/fonts/Poppins/Poppins-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: 'Playfair_Display';
  src: url("./assets/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
}

.container {
  margin: 0px auto;
}

.header__container {
  height: 5vh;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 45px;
  list-style: none;
}

.nav__list .nav__item {
  text-decoration: none;
  z-index: 1;
}

.nav__list .nav__item .nav__item-link {
  color: white;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav__list .nav__item .nav__item-link:hover {
  text-decoration: underline;
}

.section {
  padding: 0px 70px;
  background-color: rgba(34, 42, 54, 0.95);
}

.section:nth-child(even) {
  background-color: #222A36;
}

.about {
  max-width: 1440px;
  margin: 0 auto;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -5vh;
}

.about__column {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.about__title {
  font-family: 'Playfair_Display';
  font-weight: 700;
  font-size: 90px;
  line-height: 98px;
}

.about__text {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  color: rgba(255, 255, 255, 0.5);
}

.about__text span {
  color: white;
}

.button {
  width: 203px;
  height: 64px;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  background-color: #676CDB;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button a {
  text-decoration: none;
  color: white;
}

.button:hover {
  background-color: #C4C4C4;
}

.about__photo {
  width: 720px;
  height: 80vh;
  background-image: url(./assets/img/img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
}

.skills {
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000000;
}

.skills__content {
  width: 100%;
}

.skills__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
}

.skills__item {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: invert(52%) sepia(10%) saturate(8%) hue-rotate(353deg) brightness(94%) contrast(88%);
          filter: invert(52%) sepia(10%) saturate(8%) hue-rotate(353deg) brightness(94%) contrast(88%);
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.skills__item:hover {
  -webkit-filter: none;
          filter: none;
}

.skills__item_html {
  background-image: url(./assets/svg/skills/html.svg);
}

.skills__item_css {
  background-image: url(./assets/svg/skills/css.svg);
}

.skills__item_saas {
  background-image: url(./assets/svg/skills/sass.svg);
}

.skills__item_js {
  background-image: url(./assets/svg/skills/js.svg);
}

.section-title {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 40px;
  line-height: 72px;
}

.education {
  max-width: 1440px;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}

.education__text-about {
  width: 20%;
}

.education__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.education-block {
  width: 300px;
  height: 310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  background-color: #676CDB;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.education-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.education-block__container .education-block__icon {
  width: 40px;
  height: 40px;
  fill: #ffffff;
}

.education-block__title {
  width: 100%;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0px;
}

.education-block__text {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.7);
}

.education-block__text-list {
  list-style: none;
}

.education-block__text-item {
  padding-left: 30px;
  background-image: url(./assets/svg/education/сheck.svg);
  background-repeat: no-repeat;
  background-size: 10%;
}

.projects {
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 50px;
  margin: 0 auto;
}

.projects-item__slide:nth-child(even) .projects-item__img {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.projects-item__slide:nth-child(even) .projects-item__title {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.projects-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 100px;
}

.projects-item .projects-item__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.projects-item .projects-item__slide .projects-item__img {
  -webkit-filter: contrast(0.85) opacity(0.7);
          filter: contrast(0.85) opacity(0.7);
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.projects-item .projects-item__slide .projects-item__img:hover {
  -webkit-filter: none;
          filter: none;
}

.projects-item .projects-item__slide .projects-item__content {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}

.projects-item .projects-item__slide .projects-item__content .projects-item__title {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 40px;
  line-height: 64px;
}

.projects-item .projects-item__slide .projects-item__content .projects-item__link {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  color: #676CDB;
}

.projects-item .projects-item__slide .projects-item__content .projects-item__link:hover {
  text-decoration: none;
}

.code {
  width: 1440px;
  margin: 0 auto;
}

summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  list-style: none;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

summary::after {
  display: inline-block;
  background-image: url("./assets/svg/code/arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 25px;
  height: 25px;
  content: "";
  -webkit-transform: translate(26px, 26px);
          transform: translate(26px, 26px);
  -webkit-filter: brightness(0%) invert(100%);
          filter: brightness(0%) invert(100%);
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

summary:hover {
  color: #676CDB;
}

summary:hover:after {
  -webkit-filter: none;
          filter: none;
}

.contacts {
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000000;
}

.contacts__title {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 100px;
  line-height: 150px;
}

.contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  list-style: none;
}

.contacts__link {
  width: 45px;
  height: 45px;
  text-decoration: none;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-filter: brightness(0%) invert(100%);
          filter: brightness(0%) invert(100%);
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-image: url(./assets/svg/contact/discord.svg);
}

.contacts__link:hover {
  -webkit-filter: none;
          filter: none;
}

.contacts__link_email {
  background-image: url(./assets/svg/contact/mail.svg);
}

.contacts__link_telegram {
  background-image: url(./assets/svg/contact/telegram.svg);
}

.contacts__link_github {
  background-image: url(./assets/svg/contact/github.svg);
}

.footer {
  background-color: #000000;
}

.footer__container {
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 10px;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: rgba(255, 255, 255, 0.5);
}

.footer__copyright a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
}

.footer__copyright a:hover {
  color: #676CDB;
}

.footer__rss {
  width: 100px;
  height: 100px;
  background-image: url(./assets/svg/footer/rss.svg);
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-filter: brightness(0%) invert(100%);
          filter: brightness(0%) invert(100%);
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer__rss:hover {
  -webkit-filter: none;
          filter: none;
}
/*# sourceMappingURL=style.css.map */