@font-face {
    font-family: 'Poppins';
    src: url("./assets/fonts/Poppins/Poppins-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: 'Poppins';
    src: url("./assets/fonts/Poppins/Poppins-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: 'Poppins';
    src: url("./assets/fonts/Poppins/Poppins-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: 'Playfair_Display';
    src: url("./assets/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf");
}

$purple: #676CDB;
$grey: #C4C4C4;
$bg: #222A36;
$bg-light: rgba(34, 42, 54, 0.95);
$white: #ffffff;
$black: #000000;

$page-padding: 4vw;

$width-max: 1440px;


@mixin poppins ($weight, $size, $lheight) {
    font-family: 'Poppins';
    font-weight: $weight;
    font-size: $size;
    line-height: $lheight;
}
@mixin playfair ($weight, $size, $lheight) {
    font-family: 'Playfair_Display';
    font-weight: $weight;
    font-size: $size;
    line-height: $lheight;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth; 
  }
body {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    color: $white;
}

.container {
  margin: 0px auto;
 // overflow-x: hidden;
}

.header__container {
    height: 5vh;

}
.nav__list {
    display: flex;
    justify-content: center;
    gap: 10px;
    list-style: none;
    .nav__item {
        width: 100px;
        text-align: center;
        text-decoration: none;  
        z-index: 10;
        &:hover {
            background-color: $purple;
        }
         .nav__item-link {
             color: $white;
             text-decoration: none;
             transition: 0.3s;
        }
    }
}
.section {
    background-color: $bg-light;
    &:nth-child(even){
        background-color: $bg;
    }
}
.about {
    max-width: $width-max;
    margin: 0 auto;
    height: 80vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -5vh;
}
.about__column {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.about__title {
    @include playfair(700, 90px ,98px);
    padding-left: $page-padding;
}
.about__text {
    @include poppins(400, 20px ,36px);
    color: rgba(255, 255, 255, 0.50);
    padding-left: $page-padding;
    span {
        color: rgba(255, 255, 255, 1);
    }  
}
.button {
    width: 203px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: $page-padding;
    background-color: $purple;
    cursor: pointer;
    transition: 0.3s;
    & a {
        text-decoration: none;
        @include poppins(400, 20px, 24px,);
        color: $white;
    }
    &:hover {
        & a {
            color: $black;
        }
   }
}
.about__photo {
    width: 50vw;
    height: 80vh;
    background-image: url(./assets/img/img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    opacity: 0.9;
    z-index: 1;
}

.skills {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $black;
    .skills__content {
        width: $width-max;
        .skills__list {
            display: flex;
            justify-content: space-evenly;
            list-style: none;
        }
    }
}
.skills__item {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    filter:  invert(52%) sepia(10%) saturate(8%) hue-rotate(353deg) brightness(94%) contrast(88%);
    cursor: pointer;
    transition: 0.3s;
    &:hover {
        filter:  none;
    }  
}
.skills__item_html {
    background-image: url(./assets/svg/skills/html.svg);
}
.skills__item_css {
    background-image: url(./assets/svg/skills/css.svg);
}
.skills__item_saas {
    background-image: url(./assets/svg/skills/sass.svg);
}
.skills__item_js {
    background-image: url(./assets/svg/skills/js.svg);
}

.section-title {
    @include poppins(700, 40px, 72px);
    padding-left: $page-padding;
}
.education {
    max-width: $width-max;
    height: 60vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
}
.education__text-about {
    width: 20%;
}
.education__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
}
.education-block {
    width: 300px;
    height: 310px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: $purple;
    color: $white; 
    cursor: pointer;
    transition: 0.3s;
    }
.education-block__container {
    display: flex;
    justify-content: center;
    .education-block__icon {
        width: 40px;
        height: 40px;
        fill: $white;
    }
}
.education-block__title {   
    width: 100%;  
    @include poppins(700, 30px, 36px);
    display: flex;
    justify-content: center;
    padding: 20px 0px;
} 
.education-block__text {
    @include poppins(400, 20px, 24px);
    color: rgba(255, 255, 255, 0.70);
}
.education-block__text-list {
    list-style: none;
}
.education-block__text-item {
        padding-left: 30px;
        background-image: url(./assets/svg/education/сheck.svg);
        background-repeat: no-repeat;
        background-size: 10%;
}

.projects {
    max-width: $width-max;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    margin: 0 auto;

}
.projects-item__slide:nth-child(even) {
    .projects-item__img {
        order: 1;
    }
    .projects-item__title {
        align-items: flex-end;
    }
}
.projects-item {
    display: flex;
    flex-direction: column;
    gap: 100px;

    .projects-item__slide {
        display: flex;
        justify-content: space-around;

        .projects-item__img {
            filter:  contrast(0.85) opacity(0.9);
            cursor: pointer;
            transition: 0.3s;
            &:hover {
                filter: none;
            }
        }
        .projects-item__content {
            width: 500px;
            display: flex;
            flex-direction: column;
            gap: 50px;

            .projects-item__title {
                @include poppins (400, 40px , 64px);
            }
            .projects-item__link {
                @include poppins(400, 20px , 36px);
                color: $purple;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}
.code {
    max-width: $width-max;
    margin: 0 auto;
}
details {
    width: 80%;
    padding-left: $page-padding;
}
summary {
    display: flex;
    list-style: none;
    cursor: pointer;
    transition: 0.5s;
    &::after {  
        display: inline-block;
        background-image: url("./assets/svg/code/arrow.svg");
        background-repeat: no-repeat;
        background-size: contain;
        width: 25px;
        height: 25px;  
        content: "";
        transform: translate(26px, 26px);
        filter: brightness(0%) invert(100%);
        cursor: pointer;
        transition: 0.5s;
    }
    &:hover {
        color: $purple;  
    } 
    &:hover:after {
        filter: none;
    }
    .code__title {
        @include poppins(700, 40px, 72px);
    }
}

.contacts {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $black;
}
.contacts__title {
    @include poppins(700, 100px, 150px)
}
.contacts__list {
    display: flex;
    gap: 50px;
    list-style: none;
}
.contacts__link {
    width: 45px;
    height: 45px; 
    text-decoration: none;
    background-repeat: no-repeat;
    background-size: contain;
    filter: brightness(0%) invert(100%);
    cursor: pointer;
    transition: 0.3s;
    background-image: url(./assets/svg/contact/discord.svg);
    &:hover {
        filter: none;;
    }
} 
.contacts__link_email {
    background-image: url(./assets/svg/contact/mail.svg);
}
.contacts__link_telegram {
    background-image: url(./assets/svg/contact/telegram.svg);
}
.contacts__link_github {
    background-image: url(./assets/svg/contact/github.svg);
}
.footer {
    background-color: $black;
}
.footer__container {
    max-width: $width-max;
    display: flex;
    justify-content: space-between;
    padding-left: $page-padding;
}
.footer__copyright {
    display: flex;
    align-items: baseline;
    gap: 10px;
    @include poppins(700, 20px, 36px);
    color: rgba(255, 255, 255, 0.50);
    & a {
        font-weight: 500;
        color: $white;
        text-decoration: none;
        &:hover {
            color: $purple;
        }
    }
}
.footer__rss {
    width: 100px;
    height: 100px;
    background-image: url(./assets/svg/footer/rss.svg);
    background-repeat: no-repeat;
    background-size: contain;
    filter: brightness(0%) invert(100%);
    cursor: pointer;
    transition: 0.3s;
    &:hover{
        filter: none;
    }
}

@media (max-width: 960px) {

    .about__title {
        @include playfair(700, 60px ,72px);
    }
    .education {
        height: auto;
    }
    .education__content {
        justify-content: center;
    }
    .projects-item__content {
        gap: 20px;
        .projects-item__title {
        @include poppins (400, 36px , 42px);
        }   
     }
    .projects-item__img {
      width: 360px;
    }
}
@media (max-width: 768px) {
    $page-padding: 20px;
    
    .about {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .about__column {
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .about__title {
        @include playfair(700, 30px ,42px);
        align-items: center;
  
    }
    .about__photo {
        width: 60vw;
        height: 40vh;
    }
    details {
        width: 95%;
        @include poppins(400, 15px, 22px)
    }
    .projects-item {
        align-items: center;
        .projects-item__slide {
            display: flex;
            flex-direction: column;
            &:nth-child(even) {
                .projects-item__img {
                    order: 0;
                }
            }
            .projects-item__img {
                width: 80vw;
              }
            .projects-item__content {
                width: 80vw;
                gap: 10px;
            }
        }
    }
}

    @media (max-width: 480px) {
        .nav__list {
            gap: 5px;
            .nav__item {
                @include poppins(500, 15px, 22px)
            }
        }
        .about {
            height: 85vh; 
        }
        .about__photo {
            width: 85vw;
        }
        .about__text {
            @include poppins(400, 18px ,32px);
        }
        .skills {
            height: 15vh;
        }
        .skills__item {
            width: 75px;
            height: 75px;
        }
        .section-title {
            @include poppins(700, 35px, 50px);
        }
        summary {
            &::after {  
                transform: translate(10px, 16px);
            }
            .code__title {
                @include poppins(700, 35px, 50px);
            }
        }
        .contacts__title {
            @include poppins(700, 70px, 100px)
        }
        .contacts__link {
            width: 35px;
            height: 35px; 
        }
        .footer__copyright {
            flex-wrap: wrap;
        }
}